.btn-next{
    margin-top: 2rem;
    width: 100%;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: rgb(252, 70, 100);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    text-transform: uppercase;
}

   
.btn-next:hover{
    background-color: rgb(190, 56, 79);
    border: 3px solid rgb(190, 56, 79);
}

.search-form{
    margin-bottom: 2rem;
}
   

.spinner-container{
    margin-left: 50%;
    margin-top: 2rem;
}